.wrapper {
  padding: 20px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.logo img {
  width: 150px;
  height: 100px;
}

h5 {
  color: black;
  font-size: 1rem;
  padding: 10px;

  margin-right: 10px;
}
h5:hover{
    background-color: lightgray;
    color: orange;
}
.icon {
  color: black;
  font-size: 30px;
  margin-left: 10px;
}
.icon:hover{
  color: orange;
}
.navigation {
  display: flex;
  justify-content: space-around;
  flex-basis: 50%;
}
h1{
    text-align: left;
    font-size: 60px;
}
