* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #3c3c3c;
  line-height: 1.5;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}

h1,
h2,
h3 {
  font-weight: bolder;
}
img {
  display: block;
  max-width: 100%;
}
.section {
  padding-top: 70px;
  padding-bottom: 50px;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}
button {
  border: none;
  border-radius: 3px;
  padding: 15px 30px;
  background-color: #0394e8;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
}

/* Banner */
.banner {
  background: #7c7a7ab7 url(../starter-files/images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  min-height: 80vh;
  background-blend-mode: exclusion;
  position: relative;
}

.nav-logo {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.nav {
  display: flex;
}
.logo,
a {
  color: #d5d5d5;
}
.nav li:not(:last-child) {
  margin-right: 10px;
}
.nav li a {
  font-size: smaller;
}

.logo:hover,
a:hover,
button:hover {
  color: #fff;
  cursor: pointer;
}
.main-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
/* Our work-section */
.text {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-size: smaller;
  padding-bottom: 70px;
}
hr {
  width: 100px;
  border: 1px solid #0394e8;
  margin-top: 30px;
}
.img-wrapper {
  display: flex;
  align-items: start;
  margin-right: -20px;
}
.img-inner {
  height: 300px;
  margin-right: 20px;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.w-40 {
  flex-basis: 40%;
}
.w-60 {
  flex-basis: 60%;
}
.container {
  margin-bottom: 20px;
}

/*  Feature and services-Section*/

.section-gray {
  background-color: #f4f4f6e8;
}

.flex-cont {
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-size: smaller;
  margin-bottom: 180px;
}
.box {
  flex-basis: 33.3%;
  padding: 30px;
}
svg {
  color: #0394e8;
}
form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#email {
  padding: 11px;
  flex-basis: 60%;
  margin-right: 20px;
}

.subs {
  flex-basis: 20%;
}
/* Footer */

/* ---Media queries--- */
.footer {
  background-color: #3c3c3c;
  color: #d5d5d5;
}
.f-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.f-socmedia {
  display: flex;
  justify-content: center;
}
.icon {
  background-color: #d5d5d5;
  padding-top: 2px;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
.icon:not(:last-child) {
  margin-right: 10px;
}
.dark-c{
  color: #3c3c3c;
}
.f-text{
margin-top: 20px;
}
.f-text p{
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: smaller;
}
.bright{
  color: #fff;
  font-weight: bold;
}

@media (max-width: 768px) {
  .img-wrapper,
  .flex-cont {
    flex-wrap: wrap;
  }
  .img-cont,
  .box {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .container {
    margin-bottom: 0;
  }
  .form {
    text-align: center;
  }
  form {
    flex-direction: column;
  }
  #email {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .subs {
    align-self: center;
  }
  .flex-cont {
    margin-bottom: 50px;
  }
}

@media (max-width: 425px) {
  .nav-logo {
    flex-direction: column;
  }
  .logo {
    text-align: center;
    font-size: 30px;
  }
  .logo-text {
    margin-bottom: 10px;
  }
  .nav {
    padding-left: 0;
    justify-content: space-between;
  }
  .main-heading {
    font-size: x-large;
  }

  form {
    width: 80%;
  }
  button {
    padding: 20px 60px;
    font-size: large;
    margin-top: 20px;
  }
  .icon{
    width:40px ;
    height:40px ;
    padding-top: 5px;
  }
  .dark-c{
    font-size: 30px;
  }
  .f-text{
    width: 95%;
    margin:0 auto;
    padding-top: 50px;
  }
}
